
{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    ["./plugins/f.js", {
      "attrName": "model"
    }],
    "transform-jsx"
  ]
}
