
{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    ["./plugins/TwoWayDataBinding.js", {
      "attrName": "f-model"
    }],
    ["./plugins/IfDirection.js", {
      "attrName": "f-if"
    }],
    ["./plugins/ForDirection.js", {
      "attrName": "f-for"
    }],
    "transform-jsx"
  ]
}
